/* UploadImages.module.css */

.cardContainer {
  max-width: 100%;
  padding: 0rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}.removeButton{
  position: absolute;
  bottom: -18px;  /* Lo coloca en la parte inferior */
  left: 0px;    /* Lo coloca en la parte izquierda */
  background-color: rgba(238, 8, 8, 0.623);
  color: white;
  padding: 2px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttoneliminarimagenes{
  color: black;
  background-color: #f2f2f2;
  font-size: 1.6rem;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centrar horizontalmente */
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4A4A4A;
  margin-bottom: 1rem;
  text-align: center;
}

.fileInput {
  display: block;
  width: 98%;
  font-size: 0.875rem;
  color: #4A4A4A;
  background-color: #f1f5f9;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.imagePreview {
  position: relative; /* Para que el botón se posicione en relación a este contenedor */
  margin-top: 1rem;
  border: 2px solid #d1d5db;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(9, 79, 247, 0.993);
}

.imagePreview img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.imagePreview img:hover {
  transform: scale(1.05);
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #3b82f6;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button:hover {
  background-color: #2563eb;
}

.button:disabled {
  background-color: #93c5fd;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .cardContainer {
    padding: 0.75rem;
    border-radius: 0.75rem;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .fileInput {
    width: 95%;
    font-size: 0.8rem;
    padding: 0.4rem;
  }

  .imageGrid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;
  }

  .imagePreview img {
    height: 13rem;
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
  }

  .buttoneliminarimagenes {
    font-size: 1.4rem;
    padding: 8px 16px;
  }

  .button {
    padding: 0.5rem;
    font-size: 0.875rem;
  }
}





