/* Estilos base */
.containerAviso {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.aviso {
  font-size: 35px;
  text-align: center;
  width: 30rem;
  font-weight: 800;
  background-color: transparent;
}.contenedorbotton{
display: flex;
 flex-direction: row;
 justify-content: flex-end;
}

.botonexcel {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
  gap: 10px;
}

.botonexcel button {
  background-color: #3498db; /* Azul brillante para el botón */    
  font-size: 20px;
  
  color: white;
  border-radius: 5px;
}

.userName {
  color: black;
}

/* Media queries para hacer el diseño responsivo */
@media screen and (max-width: 768px) {
  .containerAviso {
    flex-direction: column;
  }

  .aviso {
    width: 100%;
  }

  .botonexcel {
    flex-direction: column;
    align-items: flex-end;
  }
}

